{% extends 'index.html' %}

{% block content %}

    <div class="container" style="min-height: 800px">
    {% for proj in projects %}
        <div class="row align-items-start" style="padding: 10%; border-bottom: 1px #212529 dashed">
        <h1 class="display-4" style="font-size: 25px;">
            <div class="col">
                Project Name: <a href="{{ proj[2] }}"> {{ proj[0] }} </a>
            </div>
            <div class="col">
                Description: {{ proj[1] }}
            </div>
            <div class="col">
                Language: {{ proj[3] }}
            </div>
            <div class="col">
                {% if proj[4] %}
                    <br><br>Link: <a href="{{ proj[4] }}"> {{ proj[4] }} </a>
                {% endif %}
            </div>
        </h1>
        </div>
    {% endfor%}
    </div>

    <script type="text/javascript" src="/static/js/index.js"></script>

{% endblock content %}