{% extends 'index.html' %}

{% block content %}

    <div class="card">
  <h2 class="display-4" style="color:#212529">Contact Me</h2>
  <div class="row">
    <div class="col display-4">
      <div class="form-group">
        <label>Name</label>
        <input class="display-4" type="text" disabled="disabled" value="AWE_CODE" style="color:#212529; text-decoration: none;">
      </div>
    </div>

    <div class="col display-4">
        <a href="https://github.com/awawakum">
      <div class="form-group">
        <label>Github</label>
              <input class="display-4" type="text" disabled value="https://github.com/awawakum" style="color:#212529; text-decoration: none;">
      </div>
        </a>
    </div>

    <div class="col display-4">
      <div class="form-group">
        <label>Telegram</label>
        <input class="display-4" type="text" disabled="disabled" value="@awe_code" style="color:#212529; text-decoration: none;">
      </div>
    </div>

    <div class="col display-4">
      <div class="form-group">
        <label>Instagram</label>
        <input class="display-4" type="text" disabled="disabled" value="@awe_code" style="color:#212529; text-decoration: none;">
      </div>
    </div>

    <div class="col display-4">
        <a href="https://gmail.com/awe_code">
      <div class="form-group">
        <label>Email</label>
          <input class="display-4" type="text" disabled="disabled" value="awe_code@gmail.com" style="color:#212529; text-decoration: none;">
      </div>
        </a>
    </div>

  </div>
</div>
    <script type="text/javascript" src="/static/js/index.js"></script>

{% endblock content %}