{% extends 'index.html' %}

{% block content %}

    <div class="container" style="min-height: 800px">
    {% for proj in projects %}
        <div class="row" style="min-height: 200px">
        <h1 class="display-4" style="font-size: 25px;">
            <div class="col">
                Project Name: <a href="{{ proj[2] }}"> {{ proj[0] }} </a>
            </div>
            <div class="col">
                Description: {{ proj[1] }}
            </div>
            <div class="col">
                Language: {{ proj[3] }}
            </div>
        </h1>
        </div>
    {% endfor%}
    </div>

    <script type="text/javascript" src="/static/js/index.js"></script>

{% endblock content %}